<div class="columns">
<div class="column is-4">
    <div class="media-content mt50">
      <div class="content">
        <p>
          <h3>{{.Get "title"}}</h3>
          <span class="icon-box-text">{{.Inner}}
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="column is-3">
    <figure class="media-left">
      <p class="image">
        <img src="/images/{{.Get "img" }}" style="height: {{ default "150px" (.Get "height") }} ; display: block;
          margin-left: auto; margin-right: auto; margin-top: auto;">
      </p>
    </figure>
  </div>
</div>
